<h1 class="page-title">Hello, Chart!</h1>

<script type="text/javascript">
  var ChartOptions = <%= raw line_chart_options(title: "My chart", labels: @chart_labels, data: @chart_data) %>
</script>

<div class="chart-wrap">
  <canvas id="myChart"></canvas>
</div>
