<!DOCTYPE html>
<html>
  <head>
    <title>Jsexercise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" media="all" href="/css/Chart.css" />
    <link rel="stylesheet" media="all" href="/css/welcome.css" />
    <script type="text/javascript" src="/js/Chart.js"></script>
    <script type="text/javascript" src="/js/welcome.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
